<!doctype html>
<html>
<head>
    <link rel="Stylesheet" type="text/css" href="/assets/bootstrap.min.css" />
    <link rel="Stylesheet" type="text/css" href="/assets/Site.css" />
    <script href="/assets/jquery-1.8.0.min.js"></script>
    <script href="/assets/bootstrap.min.js"></script>
    <title></title>
    <style type="text/css">
    .page-header { margin-top: 50px; margin-bottom: 10px; }
    input[type=text] { width: 50%; }
    </style>
</head>

<body>

<div class="container">
    <div class="row">
        <div class="span12">
            <h1>Ruby miiCard API test harness</h1>
        </div>
    </div>
    <form method="POST">
        <div class="page-header">
            <h1>OAuth token settings
            <small>Enter manually</small>
            </h1>
        </div>
        <div class="row">
            <div class="span12">
                <% if @view_model.show_oauth_details_required_error %>
                <div class="alert alert-error">
                    Keys and secrets are required fields.
                </div>
                <% end %>

                <label for="oauth-consumer-key">OAuth Consumer Key</label>
                <input type="text" name="oauth-consumer-key" value="<%=@view_model.consumer_key%>"/>
                <label for="oauth-consumer-secret">OAuth Consumer Secret</label>
                <input type="text" name="oauth-consumer-secret" value="<%=@view_model.consumer_secret%>" />
                <label for="oauth-access-token">OAuth Access Token</label>
                <input type="text" name="oauth-access-token" value="<%=@view_model.access_token%>" />
                <label for="oauth-access-token-secret">OAuth Access Token Secret</label>
                <input type="text" name="oauth-access-token-secret" value="<%=@view_model.access_token_secret%>" />
            </div>
        </div>
        <div class="page-header">
            <h1>API methods
            <small>Find the method you want to invoke</small>
            </h1>
        </div>
        <div class="page-header">
            <h2>GetClaims
            <small>Gets the set of data a user has shared with the application</small>
            </h2>
        </div>
        <div class="row">
            <div class="span12">
                <h3>Parameters</h3>
                <p>There are no parameters</p>
                <h4>Result</h4>
                <% if @view_model.last_get_claims_result %>
                <p><%=raw @view_model.last_get_claims_result%></p>
                <% end %>
                <button type="submit" name="btn-invoke" value="get-claims" class="btn btn-large">Invoke method &raquo;</button>
            </div>
        </div>

        <div class="page-header">
            <h2>IsUserAssured
            <small>Determines if the user has a current financial validation</small>
            </h2>
        </div>
        <div class="row">
            <div class="span12">
                <h3>Parameters</h3>
                <p>There are no parameters</p>
                <h4>Result</h4>
                <% if @view_model.last_is_user_assured_result %>
                <p><%=raw @view_model.last_is_user_assured_result%></p>
                <% end %>
                <button type="submit" name="btn-invoke" value="is-user-assured" class="btn btn-large">Invoke method &raquo;</button>
            </div>
        </div>

        <div class="page-header">
            <h2>IsSocialAccountAssured
            <small>Determines if a given social account belongs to the user</small>
            </h2>
        </div>
        <div class="row">
            <div class="span12">
                <h3>Parameters</h3>
                <label for="social-account-id">Social account ID</label>
                <input type="text" name="social-account-id" value="<%= @view_model.social_account_id%>" />
                <label for="social-account-type">Social account type (e.g. 'Twitter')</label>
                <input type="text" name="social-account-type" value="<%= @view_model.social_account_type%>" />
    
                <h4>Result</h4>
                <% if @view_model.last_is_social_account_assured_result %>
                <p><%=raw @view_model.last_is_social_account_assured_result%></p>
                <% end %>
                <button type="submit" name="btn-invoke" value="is-social-account-assured" class="btn btn-large">Invoke method &raquo;</button>
            </div>
        </div>

        <div class="page-header">
            <h2>AssuranceImage
            <small>Renders a graphical representation of LOA</small>
            </h2>
        </div>
        <div class="row">
            <div class="span12">
                <h3>Parameters</h3>
                <label for="social-account-id">Image type</label>
                <input type="text" name="assurance-image-type" value="<%=@view_model.assurance_image_type%>" />
    
                <h4>Result</h4>
                <% if @view_model.show_assurance_image %>
                <p><img src="/assuranceimage?oauth-consumer-key=<%=@view_model.consumer_key%>&oauth-consumer-secret=<%= u @view_model.consumer_secret%>&oauth-access-token=<%=u @view_model.access_token%>&&oauth-access-token-secret=<%=u @view_model.access_token_secret%>&type=<%=u @view_model.assurance_image_type%>" /></p>
                <% end %>
                <button type="submit" name="btn-invoke" value="assurance-image" class="btn btn-large">Invoke method &raquo;</button>
            </div>
        </div>
        
        <div class="page-header">
            <h2>GetIdentitySnapshotDetails
            <small>Retrieve metadata about an identity snapshot</small>
            </h2>
        </div>
        <div class="row">
            <div class="span12">
                <h3>Parameters</h3>
                <label for="identitySnapshotDetailsSnapshotId">Snapshot ID (blank to list all)</label>
                <input type="text" name="snapshot-details-id" value="<%=@view_model.snapshot_details_id%>" />

                <h4>Result</h4>
                <% if @view_model.last_get_identity_snapshot_details_result %>
                <p><%=raw @view_model.last_get_identity_snapshot_details_result %></p>
                <% end %>
                <button type="submit" name="btn-invoke" value="get-identity-snapshot-details" class="btn btn-large">Invoke method &raquo;</button>
            </div>
        </div>

        <div class="page-header">
            <h2>GetIdentitySnapshot
            <small>Retrieve a previously created snapshot of a miiCard member's identity</small>
            </h2>
        </div>
        <div class="row">
            <div class="span12">
                <h3>Parameters</h3>
                <label for="identitySnapshotId">Snapshot ID</label>
                <input type="text" name="snapshot-id" value="<%=@view_model.snapshot_id%>" />

                <h4>Result</h4>
                <% if @view_model.last_get_identity_snapshot_result %>
                <p><%=raw @view_model.last_get_identity_snapshot_result %></p>
                <% end %>

                <button type="submit" name="btn-invoke" value="get-identity-snapshot" class="btn btn-large">Invoke method &raquo;</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>
