<!doctype html>
<html>
<head>
    <link rel="Stylesheet" type="text/css" href="/assets/bootstrap.min.css" />
    <link rel="Stylesheet" type="text/css" href="/assets/bootstrap-responsive.min.css" />
    <link rel="Stylesheet" type="text/css" href="/assets/Site.css" />
    <script src="/assets/jquery-1.10.2.min.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
    <title></title>
    <style type="text/css">
    .page-header { margin-top: 50px; margin-bottom: 10px; }
    input[type=text] { width: 50%; }
    </style>
</head>

<body>

<div class="container">
    <div class="row">
        <div class="span12">
            <h1>Ruby miiCard API test harness</h1>
        </div>
    </div>
    <form method="POST" id="theForm">
        <div class="page-header">
            <h1>OAuth token settings
            <small>Enter manually</small>
            </h1>
        </div>
        <div class="row">
            <div class="span12">
                <% if @view_model.show_oauth_details_required_error %>
                <div class="alert alert-error">
                    Keys and secrets are required fields.
                </div>
                <% end %>

                <label for="oauth-consumer-key">OAuth Consumer Key</label>
                <input type="text" name="oauth-consumer-key" value="<%=@view_model.consumer_key%>"/>
                <label for="oauth-consumer-secret">OAuth Consumer Secret</label>
                <input type="text" name="oauth-consumer-secret" value="<%=@view_model.consumer_secret%>" />
                <label for="oauth-access-token">OAuth Access Token</label>
                <input type="text" name="oauth-access-token" value="<%=@view_model.access_token%>" />
                <label for="oauth-access-token-secret">OAuth Access Token Secret</label>
                <input type="text" name="oauth-access-token-secret" value="<%=@view_model.access_token_secret%>" />
            </div>
        </div>

        <div class="page-header">
            <h1>Claims API methods
            <small>Find the method you want to invoke</small>
            </h1>
        </div>
        <div class="page-header">
            <h2><a name="get-claims"></a>GetClaims
            <small>Gets the set of data a user has shared with the application</small>
            </h2>
        </div>
        <div class="row">
            <div class="span12">
                <h3>Parameters</h3>
                <p>There are no parameters</p>
                <h4>Result</h4>
                <% if @view_model.last_get_claims_result %>
                <p><%=raw @view_model.last_get_claims_result%></p>
                <% end %>
                <button type="submit" name="btn-invoke" value="get-claims" class="btn btn-large">Invoke method &raquo;</button>
            </div>
        </div>

        <div class="page-header">
            <h2><a name="is-user-assured"></a>IsUserAssured
            <small>Determines if the user has a current financial validation</small>
            </h2>
        </div>
        <div class="row">
            <div class="span12">
                <h3>Parameters</h3>
                <p>There are no parameters</p>
                <h4>Result</h4>
                <% if @view_model.last_is_user_assured_result %>
                <p><%=raw @view_model.last_is_user_assured_result%></p>
                <% end %>
                <button type="submit" name="btn-invoke" value="is-user-assured" class="btn btn-large">Invoke method &raquo;</button>
            </div>
        </div>

        <div class="page-header">
            <h2><a name="is-social-account-assured"></a>IsSocialAccountAssured
            <small>Determines if a given social account belongs to the user</small>
            </h2>
        </div>
        <div class="row">
            <div class="span12">
                <h3>Parameters</h3>
                <label for="social-account-id">Social account ID</label>
                <input type="text" name="social-account-id" value="<%= @view_model.social_account_id%>" />
                <label for="social-account-type">Social account type (e.g. 'Twitter')</label>
                <input type="text" name="social-account-type" value="<%= @view_model.social_account_type%>" />
    
                <h4>Result</h4>
                <% if @view_model.last_is_social_account_assured_result %>
                <p><%=raw @view_model.last_is_social_account_assured_result%></p>
                <% end %>
                <button type="submit" name="btn-invoke" value="is-social-account-assured" class="btn btn-large">Invoke method &raquo;</button>
            </div>
        </div>

        <div class="page-header">
            <h2><a name="assurance-image"></a>AssuranceImage
            <small>Renders a graphical representation of LOA</small>
            </h2>
        </div>
        <div class="row">
            <div class="span12">
                <h3>Parameters</h3>
                <label for="social-account-id">Image type</label>
                <input type="text" name="assurance-image-type" value="<%=@view_model.assurance_image_type%>" />
    
                <h4>Result</h4>
                <% if @view_model.show_assurance_image %>
                <p><img src="/assuranceimage?oauth-consumer-key=<%=@view_model.consumer_key%>&oauth-consumer-secret=<%= u @view_model.consumer_secret%>&oauth-access-token=<%=u @view_model.access_token%>&&oauth-access-token-secret=<%=u @view_model.access_token_secret%>&type=<%=u @view_model.assurance_image_type%>" /></p>
                <% end %>
                <button type="submit" name="btn-invoke" value="assurance-image" class="btn btn-large">Invoke method &raquo;</button>
            </div>
        </div>

        <div class="page-header">
            <h2><a name="card-image"></a>CardImage
            <small>Renders a card-image representation of LOA</small>
            </h2>
        </div>
        <div class="row">
            <div class="span12">
                <h3>Parameters</h3>
                <label for="cardImageSnapshotId">Snapshot ID (optional)</label>
                <input type="text" name="card-image-snapshot-id" value="<%=@view_model.card_image_snapshot_id%>" />

                <label for="cardImageFormat">Format (card, signature)</label>
                <input type="text" name="card-image-format" value="<%=@view_model.card_image_format%>" />

                <% if @view_model.card_image_show_email_address %>
                  <label class="checkbox"><input type="checkbox" name="card-image-show-email-address" checked="checked" value="on" /> Show email address</label>
                <% else %>
                  <label class="checkbox"><input type="checkbox" name="card-image-show-email-address" /> Show email address</label>
                <% end %> 

                <% if @view_model.card_image_show_phone_number %>
                  <label class="checkbox"><input type="checkbox" name="card-image-show-phone-number" checked="checked" value="on" /> Show phone number</label>
                <% else %>
                  <label class="checkbox"><input type="checkbox" name="card-image-show-phone-number" /> Show phone number</label>
                <% end %>

                <h4>Result</h4>
                <% if @view_model.show_card_image %>
                <p><img src="/cardimage?oauth-consumer-key=<%=@view_model.consumer_key%>&oauth-consumer-secret=<%= u @view_model.consumer_secret%>&oauth-access-token=<%=u @view_model.access_token%>&&oauth-access-token-secret=<%=u @view_model.access_token_secret%>&snapshot-id=<%=u @view_model.card_image_snapshot_id%>&show-email-address=<%= @view_model.card_image_show_email_address.to_s %>&show-phone-number=<%= @view_model.card_image_show_phone_number.to_s %>&format=<%=u @view_model.card_image_format%>" /></p>
                <% end %>
                <button type="submit" name="btn-invoke" value="card-image" class="btn btn-large">Invoke method &raquo;</button>
            </div>
        </div>
        
        <div class="page-header">
            <h2><a name="get-identity-snapshot-details"></a>GetIdentitySnapshotDetails
            <small>Retrieve metadata about an identity snapshot</small>
            </h2>
        </div>
        <div class="row">
            <div class="span12">
                <h3>Parameters</h3>
                <label for="identitySnapshotDetailsSnapshotId">Snapshot ID (blank to list all)</label>
                <input type="text" name="snapshot-details-id" value="<%=@view_model.snapshot_details_id%>" />

                <h4>Result</h4>
                <% if @view_model.last_get_identity_snapshot_details_result %>
                <p><%=raw @view_model.last_get_identity_snapshot_details_result %></p>
                <% end %>
                <button type="submit" name="btn-invoke" value="get-identity-snapshot-details" class="btn btn-large">Invoke method &raquo;</button>
            </div>
        </div>

        <div class="page-header">
            <h2><a name="get-identity-snapshot"></a>GetIdentitySnapshot
            <small>Retrieve a previously created snapshot of a miiCard member's identity</small>
            </h2>
        </div>
        <div class="row">
            <div class="span12">
                <h3>Parameters</h3>
                <label for="identitySnapshotId">Snapshot ID</label>
                <input type="text" name="snapshot-id" value="<%=@view_model.snapshot_id%>" />

                <h4>Result</h4>
                <% if @view_model.last_get_identity_snapshot_result %>
                <p><%=raw @view_model.last_get_identity_snapshot_result %></p>
                <% end %>

                <button type="submit" name="btn-invoke" value="get-identity-snapshot" class="btn btn-large">Invoke method &raquo;</button>
            </div>
        </div>

        <div class="page-header">
            <h2><a name="get-identity-snapshot-pdf"></a>GetIdentitySnapshotPdf
            <small>Retrieve a PDF of a previously created snapshot of a miiCard member's identity</small>
            </h2>
        </div>
        <div class="row">
            <div class="span12">
                <h3>Parameters</h3>
                <label for="identitySnapshotPdfId">Snapshot ID</label>
                <input type="text" name="snapshot-pdf-id" value="<%=@view_model.snapshot_pdf_id%>" />

                <br />

                <button type="submit" name="btn-invoke" value="get-identity-snapshot-pdf" class="btn btn-large">Invoke method &raquo;</button>
            </div>
        </div>

        <div class="page-header">
            <h2><a name="get-authentication-details"></a>GetAuthenticationDetails
            <small>Retrieve details of how a miiCard member authenticated</small>
            </h2>
        </div>
        <div class="row">
            <div class="span12">
                <h3>Parameters</h3>
                <label for="authentication-details-snapshot-id">Snapshot ID</label>
                <input type="text" name="authentication-details-snapshot-id" value="<%=@view_model.authentication_details_snapshot_id%>" />

                <h4>Result</h4>
                <% if @view_model.last_get_authentication_details_result %>
                <p><%=raw @view_model.last_get_authentication_details_result %></p>
                <% end %>

                <button type="submit" name="btn-invoke" value="get-authentication-details" class="btn btn-large">Invoke method &raquo;</button>
            </div>
        </div>

        <div class="financials">
            <div class="page-header">
                <h1>Financial API methods
                <small>Find the method you want to invoke</small>
                </h1>
            </div>

            <div class="page-header">
                <h2><a name="is-refresh-in-progress"></a>IsRefreshInProgress
                <small>Checks if a financial data refresh is ongoing</small>
                </h2>
            </div>
            <div class="row">
                <div class="span12">
                    <h4>Result</h4>
                    <% if @view_model.last_is_refresh_in_progress_result %>
                    <p><%=raw @view_model.last_is_refresh_in_progress_result %></p>
                    <% end %>

                    <button type="submit" name="btn-invoke" value="is-refresh-in-progress" class="btn btn-large">Invoke method &raquo;</button>
                </div>
            </div>

            <div class="page-header">
                <h2><a name="refresh-financial-data"></a>RefreshFinancialData
                <small>Requests financial data be updated</small>
                </h2>
            </div>
            <div class="row">
                <div class="span12">
                    <h4>Result</h4>
                    <% if @view_model.last_refresh_financial_data_result %>
                    <p><%=raw @view_model.last_refresh_financial_data_result %></p>
                    <% end %>

                    <button type="submit" name="btn-invoke" value="refresh-financial-data" class="btn btn-large">Invoke method &raquo;</button>
                </div>
            </div>

            <div class="page-header">
                <h2><a name="get-financial-transactions"></a>GetFinancialTransactions
                <small>Retrieve financial transactions that the member has shared</small>
                </h2>
            </div>
            <div class="row">
                <div class="span12">
                    <h4>Result</h4>

                    <label for="financial_data_modesty_limit">Hide values absolutely greater than this for modesty (blank to disable)</label>
                    <input type="text" name="financial_data_modesty_limit" value="<%= @view_model.financial_data_modesty_limit_raw %>" /> <br />
                    
                    <% if @view_model.last_get_financial_transactions_result %>
                    <p><%=raw @view_model.last_get_financial_transactions_result %></p>
                    <% end %>

                    <button type="submit" name="btn-invoke" value="get-financial-transactions" class="btn btn-large">Invoke method &raquo;</button>
                </div>
            </div>
        </div>

        <div class="directory">
            <div class="page-header">
                <h1><a name="directory-search"></a>Directory API
                <small>Lookup miiCard members by data they've published</small>
                </h1>
                <div class="alert alert-info">
                <strong>Notes</strong>
                <ul>
                  <li>The Directory API doesn't require OAuth tokens - just call at will</li>
                  <li>Only data that's been published by a miiCard member who's elected to be searchable can be used as a search criterion</li>
                </ul>
                </div>
            </div>
            <div class="row">
                <div class="span12">
                    <h3>Hash identifier <small><a href="#" data-toggle="sha1-hash" class="toggle">More/less</a></small></h3>
                    <div id="sha1-hash" style="display: none">
                        <p>The Directory API can searched by supplying either plaintext or hashed query values for enhanced privacy</p>
                        <label for="directory_plaintext_identifier">Plain text identifier</label>
                        <div class="input-prepend" style="display: block;">
                            <span class="add-on"><i class="icon-random"></i></span>
                            <input class="span6" type="text" placeholder="Identifier value" name="directory_plaintext_identifier" id="directory_plaintext_identifier" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span12">
                  <h3>Search</h3>
                  <div class="input-prepend" style="display: block;">
                    <span class="add-on"><i class="icon-search"></i></span>
                    <input class="span6" name="directory_criterion_value" id="directory_criterion_value" type="text" placeholder="Search" value="<%= @view_model.directory_criterion_value %>" />
                    <select name="directory_criterion" style="margin-left: 0.5em;">
                        <option value="<%= MiiCardDirectoryService::CRITERION_EMAIL %>"<%= (@view_model.directory_criterion == MiiCardDirectoryService::CRITERION_EMAIL) ? " selected" : "" %>>Email address</option>
                        <option value="<%= MiiCardDirectoryService::CRITERION_PHONE %>"<%= (@view_model.directory_criterion == MiiCardDirectoryService::CRITERION_PHONE) ? " selected" : "" %>>Phone number</option>
                        <option value="<%= MiiCardDirectoryService::CRITERION_TWITTER %>"<%= (@view_model.directory_criterion == MiiCardDirectoryService::CRITERION_TWITTER) ? " selected" : "" %>>Twitter</option>
                        <option value="<%= MiiCardDirectoryService::CRITERION_FACEBOOK %>"<%= (@view_model.directory_criterion == MiiCardDirectoryService::CRITERION_FACEBOOK) ? " selected" : "" %>>Facebook</option>
                        <option value="<%= MiiCardDirectoryService::CRITERION_LINKEDIN %>"<%= (@view_model.directory_criterion == MiiCardDirectoryService::CRITERION_LINKEDIN) ? " selected" : "" %>>LinkedIn</option>
                        <option value="<%= MiiCardDirectoryService::CRITERION_GOOGLE %>"<%= (@view_model.directory_criterion == MiiCardDirectoryService::CRITERION_GOOGLE) ? " selected" : "" %>>Google+</option>
                        <option value="<%= MiiCardDirectoryService::CRITERION_MICROSOFT_ID %>"<%= (@view_model.directory_criterion == MiiCardDirectoryService::CRITERION_MICROSOFT_ID) ? " selected" : "" %>>Microsoft ID</option>
                        <option value="<%= MiiCardDirectoryService::CRITERION_EBAY %>"<%= (@view_model.directory_criterion == MiiCardDirectoryService::CRITERION_EBAY) ? " selected" : "" %>>eBay</option>
                        <option value="<%= MiiCardDirectoryService::CRITERION_VERITAS_VITAE %>"<%= (@view_model.directory_criterion == MiiCardDirectoryService::CRITERION_VERITAS_VITAE) ? " selected" : "" %>>Veritas Vitae</option>
                        <option value="<%= MiiCardDirectoryService::CRITERION_USERNAME %>"<%= (@view_model.directory_criterion == MiiCardDirectoryService::CRITERION_USERNAME) ? " selected" : "" %>>Username</option>
                    </select>
                  </div>
                  <label for="directory_criterion_value_hashed" class="checkbox"><input type="checkbox" id="directory_criterion_value_hashed" name="directory_criterion_value_hashed"<%=raw (@view_model.directory_criterion_value_hashed ? ' checked="checked"' : '') %> /> Identifier is a hex SHA-1 hash</label>
                  <button type="submit" name="btn-invoke" value="directory-search" class="btn" style="margin-left: 0.7em;">Search &raquo;</button>
                  <h4>Result</h4>
                  <% if !@view_model.last_directory_search_result.nil? %>
                    <p><%=raw @view_model.last_directory_search_result %></p>
                  <% else %>
                    No results
                  <% end %>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var sha1timer = null;

        $('button[name="btn-invoke"]').click(function () {
            $('#theForm').attr('action', '#' + $(this).attr('value'));
        });

        $('input, select').keydown(function (e) {
            if (e.which == 10 || e.which == 13) {
                $(this).closest('.row').find('button[type="submit"]').click();
                return false;
            }
        });

        $('a.toggle').click(function (e) {
            $('#' + $(this).attr('data-toggle')).toggle();
            e.preventDefault();
        });

        $('#directory_criterion_value').keyup(function () {
            $('#directory_plaintext_identifier').val('');
        });

        $('#directory_plaintext_identifier').keyup(function () {
            if (sha1timer) {
                window.clearTimeout(sha1timer);
                sha1timer = null;
            }

            if ($(this).val().length) {
                elem = $(this);

                sha1timer =
                    window.setTimeout(function () {
                        $.ajax('/sha1?identifier=' + encodeURIComponent(elem.val()), {
                            async: false,
                            success: function (data) {
                                $('#directory_criterion_value').val(data);
                                $('#directory_criterion_value_hashed').prop('checked', 'checked');
                            },
                            error: function (xhr, status, error) { alert(error); }
                        });
                    }, 200);
            }
        });
    });
</script>
</body>
</html>
